.speech
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
}
.direction
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 12px;
    background-color: rgb(85, 0, 255);
}
.direction:hover {
    background-color: rgb(113, 153, 94);
    color: rgb(193, 39, 39);
  }
.VILLAIN
{   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(132, 0, 255);
}
.COMEDIAN
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 0, 85);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ff0606;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #fffb00;
  }